{% extends theme("layout.html") %}
{% set page_title = "讯飞未来港匿名交流平台" %}

{% block content %}


    <div class="container">
        <h1 class="text-center text-warning">这里你可以畅所欲言(老板看不到）</h1>
    </div>

    <div class="container mt-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="text-center">随机给你推荐几个热门大宝贝</h1>
                </div>
                <div class="carousel-item">
                    <h1 class="text-center">这是第一个</h1>
                </div>
                <div class="carousel-item">
                    <h1 class="text-center">这是第二个</h1>
                </div>
            </div>

            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon btn-warning" aria-hidden="true"></span>
            </button>

            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon btn-warning"></span>
            </button>
            <br><br>
            <div class="carousel-indicators mt-5">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                        class="active btn bg-warning" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2" class="btn bg-warning"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3" class="btn bg-warning"></button>
            </div>
        </div>
    </div>



    <div class="container mt-5">
        <form method="post" id="contentForm" action="{{ url_for('AnonymousPlatform_bp.home') }}">
            {{ form.csrf_token }}
            <div class="form-floating">
{#                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">#}
{#                    <option selected>选择你感兴趣的分区</option>#}
{#                    <option value="1">餐饮</option>#}
{#                    <option value="2">加薪</option>#}
{#                    <option value="3">工作</option>#}
{#                    <option value="4">告白</option>#}
{#                    <option value="5">老板</option>#}
{#                    <option value="6">摸鱼</option>#}
{#                </select>#}
                {{ form.tag(class="form-select")}}
                <label for="floatingSelect">让我们给吐槽分个组</label>
            </div>
            <div class="container" id="errorMessage">
            </div>
            <div class="mb-3 input-group-lg mt-2">
                {{ form.content (class="form-control", id="exampleFormControlTextarea1", rows="6", placeholder="输入你想说的悄悄话。。。") }}
                <button id="loadButton" type="button" class="btn btn-primary mt-3">提交</button>
            </div>
        </form>
    </div>

    <div class="container">
        <h1 class="text-center text-warning">选择你感兴趣的分类</h1>
        <div class="row mt-5">
            <div class="col-2">
                <button type="button" class="btn btn-warning btn-lg" onclick="showWork()">工作</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-warning btn-lg" onclick="showRaise()">加薪</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-warning btn-lg" onclick="showFood()">餐饮</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-warning btn-lg" onclick="showConfession()">告白</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-warning btn-lg" onclick="showBoss()">老板</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-warning btn-lg" onclick="showLazy()">摸鱼</button>
            </div>
        </div>

    </div>


    <div class="contianer" id="none">
        <div class="container" id= "contentBlock">
            </div>
    </div>

    <div class="container" id="work">
        {% for i in content %}
            {% if i.tag == "工作"%}
                <div class="container mt-5">
                    <div class="card">
                        <h5 class="card-header">{{ i.tag }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container" id="raise">
        {% for i in content %}
            {% if i.tag == "加薪"%}
                <div class="container mt-5">
                    <div class="card">
                        <h5 class="card-header">{{ i.tag }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container" id="food">
        {% for i in content %}
            {% if i.tag == "餐饮"%}
                <div class="container mt-5">
                    <div class="card">
                        <h5 class="card-header">{{ i.tag }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container" id="confession">
        {% for i in content %}
            {% if i.tag == "告白"%}
                <div class="container mt-5">
                    <div class="card">
                        <h5 class="card-header">{{ i.tag }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container" id="boss">
        {% for i in content %}
            {% if i.tag == "老板"%}
                <div class="container mt-5">
                    <div class="card">
                        <h5 class="card-header">{{ i.tag }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container" id="lazy">
        {% for i in content %}
            {% if i.tag == "摸鱼"%}
                <div class="container mt-5">
                    <div class="card">
                        <h5 class="card-header">{{ i.tag }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">{{ i.content }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>



{#    <div class="container mt-5 ">#}
{#        <nav aria-label="Page navigation example">#}
{#            <ul class="pagination justify-content-center">#}
{#                <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#            </ul>#}
{#        </nav>#}
{#    </div>#}



    <script src="{{ url_for("AnonymousPlatform_bp.static", filename="jquery-3.6.0.min.js") }}"></script>
    <script>
        $("#loadButton").on("click", function (event) {
            event.preventDefault();
            var form = new FormData(document.getElementById("contentForm"));
            $.ajax({
                url: "{{ url_for('AnonymousPlatform_bp.home') }}",
                type: "post",
                data: form,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response["validate"] === "success") {
                        alert("success")
                        var html = "";
                        html += `<div class="container mt-5">
                                    <div class="card">
                                        {% if  %}
                                        <h5 class="card-header">${response["tag"]}</h5>
                                        <div class="card-body">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">${response["content"]}</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>`
                        $('#contentBlock').append(html)
                    }
                    else if (response["validate"] === "error") {
                        var html = ``
                        html += `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                                  <strong>输入格式错误</strong> 请至少输入五个字
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>`
                        $('#errorMessage').append(html)
                    }
                    else {
                        alert("发布失败，请重试")
                    }
                },
                error: function (response) {
                    alert("发布失败，请重试")
                    {#location.href="{{ url_for('AnonymousPlatform_bp.home')}}"#}
                }
            })
        })
        window.onload = function none(){
            document.getElementById("work").style.display = "none";
            document.getElementById("raise").style.display = "none";
            document.getElementById("food").style.display = "none";
            document.getElementById("confession").style.display = "none";
            document.getElementById("boss").style.display = "none";
            document.getElementById("lazy").style.display = "none";
        }

        function showWork(){
            document.getElementById("work").style.display = "block";
            document.getElementById("raise").style.display = "none";
            document.getElementById("food").style.display = "none";
            document.getElementById("confession").style.display = "none";
            document.getElementById("boss").style.display = "none";
            document.getElementById("lazy").style.display = "none";
        }

        const showRaise = () => {
            document.getElementById("work").style.display = "none";
            document.getElementById("raise").style.display = "block";
            document.getElementById("food").style.display = "none";
            document.getElementById("confession").style.display = "none";
            document.getElementById("boss").style.display = "none";
            document.getElementById("lazy").style.display = "none";
        }

        const showFood = () => {
            document.getElementById("work").style.display = "none";
            document.getElementById("raise").style.display = "none";
            document.getElementById("food").style.display = "block";
            document.getElementById("confession").style.display = "none";
            document.getElementById("boss").style.display = "none";
            document.getElementById("lazy").style.display = "none";
        }
        const showConfession = () => {
            document.getElementById("work").style.display = "none";
            document.getElementById("raise").style.display = "none";
            document.getElementById("food").style.display = "none";
            document.getElementById("confession").style.display = "block";
            document.getElementById("Boss").style.display = "none";
            document.getElementById("lazy").style.display = "none";
        }
        const showBoss = () => {
            document.getElementById("work").style.display = "none";
            document.getElementById("raise").style.display = "none";
            document.getElementById("food").style.display = "none";
            document.getElementById("confession").style.display = "none";
            document.getElementById("boss").style.display = "block";
            document.getElementById("lazy").style.display = "none";
        }
        const showLazy = () => {
            document.getElementById("work").style.display = "none";
            document.getElementById("raise").style.display = "none";
            document.getElementById("food").style.display = "none";
            document.getElementById("confession").style.display = "none";
            document.getElementById("boss").style.display = "none";
            document.getElementById("lazy").style.display = "block";
        }
    </script>

{% endblock %}

