{% extends theme("user/profile_layout.html") %}

{% block breadcrumb %}
    <ol class="breadcrumb flaskbb-breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ user.url }}">{{ user.username }}</a></li>
        <li class="breadcrumb-item active">{% trans %}匿名平台{% endtrans %}</li>
    </ol>
{% endblock %}

{% block profile_content %}
    <div class="container mt-3 mb-3">
        <div class="accordion " id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                工作
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <div class="container">
                    {% for i in conversation %}
                        {% if i.tag == "1" %}
                            <div class="card bg-warning mt-2">
                              <div class="card-body">
                                  <h5 class="card-title">{{ i.content}}</h5>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                      <a href="{{url_for("AnonymousPlatform_bp.conversation", conversationId=i.id)}}" class="btn btn-primary">留言</a>
                                      <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                              data-bs-delUrl="location.href='{{ url_for("AnonymousPlatform_bp.delete",conversationId=i.id, next_url=url_for("AnonymousPlatform_bp.management")) }}'"
                                                    data-bs-itemName="请确定删除">
                                                    删除
                                      </button>
                                    </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                加薪
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <div class="container">
                    {% for i in conversation %}
                        {% if i.tag == "2" %}
                            <div class="card bg-warning mt-2">
                              <div class="card-body">
                                  <h5 class="card-title">{{ i.content}}</h5>
                                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                      <a href="{{url_for("AnonymousPlatform_bp.conversation", conversationId=i.id)}}" class="btn btn-primary">留言</a>
                                      <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                              data-bs-delUrl="location.href='{{ url_for("AnonymousPlatform_bp.delete",conversationId=i.id, next_url=url_for("AnonymousPlatform_bp.management")) }}'"
                                                    data-bs-itemName="请确定删除">
                                                    删除
                                      </button>
                                  </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                餐饮
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <div class="container">
                    {% for i in conversation %}
                        {% if i.tag == "3" %}
                            <div class="card bg-warning mt-2">
                              <div class="card-body">
                                  <h5 class="card-title">{{ i.content}}</h5>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                      <a href="{{url_for("AnonymousPlatform_bp.conversation", conversationId=i.id)}}" class="btn btn-primary">留言</a>
                                      <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                              data-bs-delUrl="location.href='{{ url_for("AnonymousPlatform_bp.delete",conversationId=i.id, next_url=url_for("AnonymousPlatform_bp.management")) }}'"
                                                    data-bs-itemName="请确定删除">
                                                    删除
                                      </button>
                                    </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                告白
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <div class="container">
                    {% for i in conversation %}
                        {% if i.tag == "4" %}
                            <div class="card bg-warning mt-2">
                              <div class="card-body">
                                  <h5 class="card-title">{{ i.content}}</h5>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                      <a href="{{url_for("AnonymousPlatform_bp.conversation", conversationId=i.id)}}" class="btn btn-primary">留言</a>
                                      <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                              data-bs-delUrl="location.href='{{ url_for("AnonymousPlatform_bp.delete",conversationId=i.id, next_url=url_for("AnonymousPlatform_bp.management")) }}'"
                                                    data-bs-itemName="请确定删除">
                                                    删除
                                      </button>
                                    </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                老板
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                <div class="container">
                    {% for i in conversation %}
                        {% if i.tag == "5" %}
                            <div class="card bg-warning mt-2">
                              <div class="card-body">
                                  <h5 class="card-title">{{ i.content}}</h5>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                      <a href="{{url_for("AnonymousPlatform_bp.conversation", conversationId=i.id)}}" class="btn btn-primary">留言</a>
                                      <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                              data-bs-delUrl="location.href='{{ url_for("AnonymousPlatform_bp.delete",conversationId=i.id, next_url=url_for("AnonymousPlatform_bp.management")) }}'"
                                                    data-bs-itemName="请确定删除">
                                                    删除
                                      </button>
                                    </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                摸鱼
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
              <div class="accordion-body">
                <div class="container">
                    {% for i in conversation %}
                        {% if i.tag == "6" %}
                            <div class="card bg-warning mt-2">
                              <div class="card-body">
                                  <h5 class="card-title">{{ i.content}}</h5>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                      <a href="{{url_for("AnonymousPlatform_bp.conversation", conversationId=i.id)}}" class="btn btn-primary">留言</a>
                                      <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                              data-bs-delUrl="location.href='{{ url_for("AnonymousPlatform_bp.delete",conversationId=i.id, next_url=url_for("AnonymousPlatform_bp.management")) }}'"
                                                    data-bs-itemName="请确定删除">
                                                    删除
                                      </button>
                                    </div>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        确定要删除这个悄悄话嘛？（此操作不可撤销）
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="confirmDelButton">确定删除</button>
      </div>
    </div>
  </div>
</div>

    <script>
        var confirmDel = document.getElementById('staticBackdrop')
        confirmDel.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var delUrl = button.getAttribute('data-bs-delUrl')
            var name = button.getAttribute('data-bs-itemName')
            var delButton = document.getElementById("confirmDelButton")
            delButton.setAttribute('onclick', delUrl)
            var modalTitle = confirmDel.querySelector('.modal-title')
            modalTitle.textContent = name
        })
    </script>
{% endblock %}